openapi: "3.0.0"
info:
  version: 1.0.0
  title: MongoDB Data API Service
  description: Service to retrieve documents from MongoDB based on query parameters.
servers:
  - url: https://us-east-1.aws.data.mongodb-api.com/app/data-aaa/endpoint/data/v1
paths:
  /action/deleteOne:
    post:
      operationId: deleteone_mdb
      summary: Delete a Document in MongoDB
      description: Delete a single document from a MongoDB collection using specified criteria.
      requestBody:
        description: JSON criteria for finding the document.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                dataSource:
                  type: string
                  description: The data source.
                database:
                  type: string
                  description: The database name.
                collection:
                  type: string
                  description: The collection name. 
                filter:
                  type: object
                  description: A MongoDB query filter that matches documents.       
      headers:
        api-key:
          description: API key for authentication.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request.
          content:
            application/json:
              example:
                error: "Invalid request. Check the request body."
        '401':
          description: Unauthorized. Missing or invalid API key.
          content:
            application/json:
              example:
                error: "Unauthorized. Missing or invalid API key."
        '404':
          description: Document not found.
          content:
            application/json:
              example:
                error: "Document not found."
        '500':
          description: Internal Server Error.
          content:
            application/json:
              example:
                error: "Internal Server Error. Please try again later."
      security:
          - api-key: []
  /action/aggregate:
    post:
      operationId: aggregate_mdb
      summary: Get a Document in MongoDB
      description: Get a total count of document from a MongoDB collection using specified criteria.
      requestBody:
        description: JSON criteria for finding the document.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                dataSource:
                  type: string
                  description: The data source.
                database:
                  type: string
                  description: The database name.
                collection:
                  type: string
                  description: The collection name. 
                pipeline:
                  type: array
                  description: A MongoDB query filter that matches documents.       
      headers:
        api-key:
          description: API key for authentication.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request.
          content:
            application/json:
              example:
                error: "Invalid request. Check the request body."
        '401':
          description: Unauthorized. Missing or invalid API key.
          content:
            application/json:
              example:
                error: "Unauthorized. Missing or invalid API key."
        '404':
          description: Document not found.
          content:
            application/json:
              example:
                error: "Document not found."
        '500':
          description: Internal Server Error.
          content:
            application/json:
              example:
                error: "Internal Server Error. Please try again later."
      security:
          - api-key: []
  /action/updateOne:
    post:
      operationId: uppdateone_mdb
      summary: Update a Document in MongoDB
      description: Update a single document from a MongoDB collection using specified criteria.
      requestBody:
        description: JSON criteria for finding the document.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                dataSource:
                  type: string
                  description: The data source.
                database:
                  type: string
                  description: The database name.
                collection:
                  type: string
                  description: The collection name. 
                filter:
                  type: object
                  description: A MongoDB query filter that matches documents.
                update:
                  type: object
                  description: A update document query filter that matches documents.
                  example:
                    $set:
                      name: "test"
                upsert:
                  type: boolean
                  description: On true Insert the new document to collection else update the document .
                         
      headers:
        api-key:
          description: API key for authentication.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request.
          content:
            application/json:
              example:
                error: "Invalid request. Check the request body."
        '401':
          description: Unauthorized. Missing or invalid API key.
          content:
            application/json:
              example:
                error: "Unauthorized. Missing or invalid API key."
        '404':
          description: Document not found.
          content:
            application/json:
              example:
                error: "Document not found."
        '500':
          description: Internal Server Error.
          content:
            application/json:
              example:
                error: "Internal Server Error. Please try again later."
      security:
          - api-key: []
  /action/insertOne:
    post:
      operationId: insertone_mdb
      summary: Insert a Document in MongoDB
      description: Insert a single document from a MongoDB collection using specified criteria.
      requestBody:
        description: JSON criteria for finding the document.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                dataSource:
                  type: string
                  description: The data source.
                database:
                  type: string
                  description: The database name.
                collection:
                  type: string
                  description: The collection name. 
                document:
                  type: object
                  description: A MongoDB query filter that matches documents.       
      headers:
        api-key:
          description: API key for authentication.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request.
          content:
            application/json:
              example:
                error: "Invalid request. Check the request body."
        '401':
          description: Unauthorized. Missing or invalid API key.
          content:
            application/json:
              example:
                error: "Unauthorized. Missing or invalid API key."
        '404':
          description: Document not found.
          content:
            application/json:
              example:
                error: "Document not found."
        '500':
          description: Internal Server Error.
          content:
            application/json:
              example:
                error: "Internal Server Error. Please try again later."
      security:
          - api-key: []
  /action/find:
    post:
      operationId: findmany_mdb
      summary: Find all Documents in MongoDB
      description: Retrieve a multiple document from a MongoDB collection using specified criteria.
      requestBody:
        description: JSON criteria for finding the document.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                dataSource:
                  type: string
                  description: The data source.
                database:
                  type: string
                  description: The database name.
                collection:
                  type: string
                  description: The collection name. 
                filter:
                  type: object
                  description: A MongoDB query filter that matches documents.
                limit:
                  type: integer
                  description: A MongoDB query to limit number of documents.       
      headers:
        api-key:
          description: API key for authentication.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request.
          content:
            application/json:
              example:
                error: "Invalid request. Check the request body."
        '401':
          description: Unauthorized. Missing or invalid API key.
          content:
            application/json:
              example:
                error: "Unauthorized. Missing or invalid API key."
        '404':
          description: Document not found.
          content:
            application/json:
              example:
                error: "Document not found."
        '500':
          description: Internal Server Error.
          content:
            application/json:
              example:
                error: "Internal Server Error. Please try again later."
      security:
          - api-key: []
  /action/findOne:
    post:
      operationId: findone_mdb
      summary: Find a Document in MongoDB
      description: Retrieve a single document from a MongoDB collection using specified criteria.
      requestBody:
        description: JSON criteria for finding the document.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                dataSource:
                  type: string
                  description: The data source.
                database:
                  type: string
                  description: The database name.
                collection:
                  type: string
                  description: The collection name. 
                filter:
                  type: object
                  description: A MongoDB query filter that matches documents.       
      headers:
        api-key:
          description: API key for authentication.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid request.
          content:
            application/json:
              example:
                error: "Invalid request. Check the request body."
        '401':
          description: Unauthorized. Missing or invalid API key.
          content:
            application/json:
              example:
                error: "Unauthorized. Missing or invalid API key."
        '404':
          description: Document not found.
          content:
            application/json:
              example:
                error: "Document not found."
        '500':
          description: Internal Server Error.
          content:
            application/json:
              example:
                error: "Internal Server Error. Please try again later."
      security:
          - api-key: []
components:
    securitySchemes:
      api-key:
        type: apiKey
        in: header
        name: api-key
